html, body {
    margin: 0;
    height: 100%;
    width: 100%;
    font-size: clamp(1rem, 0.4444rem + 1.7778vw, 2rem);
    font-family: sans-serif;
    /* background: rgb(247,37,133); */
    /* background: linear-gradient(320deg,#f27121,#e94057,#8a2387);; */
    /* background: linear-gradient(45deg, rgba(247,37,133,1) 0%, rgba(181,23,158,1) 8%, rgba(114,9,183,1) 18%, rgba(86,11,173,1) 29%, rgba(72,12,168,1) 41%, rgba(58,12,163,1) 51%, rgba(63,55,201,1) 64%, rgba(67,97,238,1) 73%, rgba(72,149,239,1) 83%, rgba(76,201,240,1) 100%); */
    background: rgb(242,113,33);
    background: linear-gradient(13deg, rgba(242,113,33,1) 0%, rgba(63,55,201,1) 45%, rgba(67,97,238,1) 73%, rgba(72,149,239,1) 83%, rgba(76,201,240,1) 100%);background-size: 400% 400%;
    animation: backgroundAni 30s ease infinite;
    color: white;
    text-shadow: 0px 0px 5px #0007;
}

section {
    position: relative;
    height: 100%;
}

main {
    height: 100%;
}

article {
    position: relative;
    background: rgba(255, 255, 255, 0.40);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.0px);
    -webkit-backdrop-filter: blur(2.0px);
    max-width: 800px;
    margin: 0 auto;
    height: fit-content;
    padding: 20px 0 50px 0;
    width: 75%;
    top: 50%;
    transform: translatey(-50%);
}

article h1 {
    padding: 10px 0px;
    text-align: center;
}

.counter {
    width: 100%;
    text-align: center;
    font-size: 64px;
    vertical-align: bottom !important;
}

.skybox {
    background: rgba(255, 255, 255, 0.20);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.0px);
    -webkit-backdrop-filter: blur(2.0px);
    min-width: 10px;
    min-height: 10px;
    position: fixed;
}

.right {
    float: right
}

.cloudsize {
    height: 120px;
    width: 150px;
}

.drone {
    position: fixed;
    background-image: url("img/aniDrone.gif");
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 50% 50%;
    height: 400px;
    width: 400px;
    filter: hue-rotate(80deg);
    animation: droneAni 30s ease infinite;
    top: 40%; 
    left: 5%;
}

#dronetext {
    position: relative;
    text-align: center;
    top: 50%;
    transform: translateY(-75%);
    font-size: 16px;
}

.cloud {
    position: fixed;
    height: 600px;
    width: 600px;
    background-image: url("img/Clouds.gif");
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 90% 90%;
    filter: hue-rotate(100deg);
    animation: cloudAni 30s ease infinite;
}

@keyframes backgroundAni {
    from {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    to {
        background-position: 0% 50%;
    }
}

@keyframes droneAni {
    from {
        filter: hue-rotate(80deg);
        background-position: 0% 0%;
        background-size: 50% 50%;
        top: 45%; 
        left: 5%;
    }
    25% {
        background-position: 50% 25%;
        background-size: 70% 70%;
        top: -10%;
        left: 10%;
    }
    50% {
        filter: hue-rotate(5deg);
        background-position: 25% 50%;
        background-size: 60% 60%;
        top: 10%;
        left: 75%;
    }
    75% {
        background-position: 100% 100%;
        background-size: 45% 45%;
        top: 50%;
        left: 80%;
    }
    to {
        filter: hue-rotate(80deg);
        background-position: 0% 0%;
        background-size: 50% 50%;
        top: 45%;
        left: 5%;
    }
}

@keyframes cloudAni {
    from {
        filter: hue-rotate(100deg);
        background-position: 0% 0%;
    }
    25% {
        background-position: 25% 75%;
    }
    50% {
        filter: hue-rotate(0deg);
        background-position: 50% 25%;
    }
    75% {
        background-position: 50% 50%;
    }
    to {
        filter: hue-rotate(100deg);
        background-position: 0% 0%;
    }
}